@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 249, 222;
    --background-start-rgb: 255, 249, 222;
    --background-end-rgb: 255, 249, 222;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  @font-face {
    font-family: 'Arya';
    src: url('/fonts/Arya/Arya-Regular.ttf') format('truetype');
    font-weight: 400;
  }
  @font-face {
    font-family: 'Arya';
    src: url('/fonts/Arya/Arya-Bold.ttf') format('truetype');
    font-weight: 700;
  }
  @font-face {
      font-family: 'Bitter';
      src: url('/fonts/Bitter/Bitter-VariableFont_wght.ttf') format('truetype');
    }
  @font-face {
    font-family: 'Bitter-italic';
    src: url('/fonts/Bitter/Bitter-Italic-VariableFont_wght.ttf') format('truetype');
  }
}

:root {
  background: #FFF9DE;
}

html, body {
  background: #FFF9DE;
  overflow: hidden;
  height: 100%;
  margin: 0;
  padding: 0;
}


::-webkit-scrollbar {
display: none;
}

@media(orientation: landscape) {
  .custom-scrollbar::-webkit-scrollbar {
  display: block; /* Show scrollbar */
  width: 12px;
  height: 12px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  }
}

.custom-border-row::after {
content: '';
position: absolute;
left: 0;
right: 20px; 
bottom: 0;
height: 1px;
background-color: #006400; 
opacity: 0.2;
}

.dot-container {
  position: fixed; 
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px; 
  z-index: 1000;
}

.dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease, opacity 0.3s ease;
}

.title {
    position: relative;
    line-height: 67%;
}

#full-screen-message {
    z-index: 30;
    pointer-events: none;
}

.grow:hover {
    transform: scale(1.2);
}

@keyframes breathe {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}

.breathe {
  animation: breathe 3s ease-in-out infinite; /* Adjust timing as needed */
}

@media (orientation: landscape) {    
  @media (max-aspect-ratio: 2.05) {    
    .title { font-size: 18.4vw; line-height: 13vw; padding-top: 1.5rem; }
    .flower, .centerflower {
      position: absolute;
      transition: transform 500ms ease-in-out, opacity 2000ms ease-in-out;
      background-size: contain;            
      background-repeat: no-repeat;                              
    }
    .dot-container {
      right: 20px;
    }
    .flower-2 { width: 7vw; height: 7vw; top: 57vh; left: 5vw; }
    .flower-3 { width: 8vw; height: 8vw; top: 56vh; left: 30vw; }
    .flower-4 { width: 20vw; height: 20vw; top: 55vh; left: 40vw; }
    .flower-5 { width: 15vw; height: 15vw; top: 36vh; left: 66.5vw; }
    .flower-7 { width: 12vw; height: 12vw; top: 33vh; left: 83vw; }
    .flower-9 { width: 8vw; height: 8vw; top: 77vh; left: 4vw; }
    .flower-10 { width: 16vw; height: 16vw; top: 58vh; left: 12vw; }
    .flower-11 { width: 10vw; height: 10vw; top: 76vh; left: 30vw; }
    .flower-12 { width: 7vw; height: 7vw; top: 59vh; left: 60.5vw; }
    .flower-14 { width: 10vw; height: 10vw; top: 70vh; left: 67vw; }
    .flower-16 { width: 6vw; height: 6vw; top: 82vh; left: 60vw; }
    .flower-17 { width: 16vw; height: 16vw; top: 62vh; left: 79vw; }
  }
}

@media (orientation: portrait) {   
    .title { font-size: 18vw; line-height: 15vw; }
    .flower {
      display: none;                           
    }
    .dot-container {
      right: 10px;
    }
    .flower-4 { width: 50vw; height: 50vw; top: 40vh; left: 25vw; display: block; transition: transform 500ms ease-in-out, opacity 2000ms ease-in-out; }
}

@media (min-aspect-ratio: 2.05) {    
  @media (max-aspect-ratio:2.5) {
    .title { 
      font-size: 18.4vw; 
      line-height: 13vw; 
      padding-top: 0;
    }
    
    .flower, .centerflower {
      position: absolute;
      transition: transform 500ms ease-in-out, opacity 2000ms ease-in-out;
      background-size: contain;            
      background-repeat: no-repeat;                              
    }

    .dot-container {
      right: 20px;
    }

      .flower-2 { width: 7vw; height: 7vw; top: 80vh; left: 5vw; }
      .flower-3 { width: 8vw; height: 8vw; top: 68vh; left: 17vw; }
      .flower-4 { width: 15vw; height: 15vw; top: 62vh; left: 42.5vw; }
      .flower-5 { width: 12vw; height: 12vw; top: 66vh; left: 80vw; }
      .flower-7 { width: 10vw; height: 10vw; top: 39vh; left: 85vw; }
      /* .flower-9 { width: 8vw; height: 8vw; top: 77vh; left: 4vw; } */
      /* .flower-10 { width: 16vw; height: 16vw; top: 58vh; left: 12vw; } */
      .flower-11 { width: 10vw; height: 10vw; top: 76vh; left: 30vw; }
      .flower-12 { width: 7vw; height: 7vw; top: 50vh; left: 70vw; }
      .flower-14 { width: 10vw; height: 10vw; top: 70vh; left: 63vw; }
      /* .flower-16 { width: 6vw; height: 6vw; top: 82vh; left: 60vw; } */
      /* .flower-17 { width: 16vw; height: 16vw; top: 62vh; left: 79vw; } */
  }
}

@media (min-aspect-ratio:2.5) {
  @media (max-aspect-ratio: 3) {
    .title { 
      font-size: 12vw; 
      line-height: 9vw; 
      padding-top: 0;
    }
    
    .flower, .centerflower {
      position: absolute;
      transition: transform 500ms ease-in-out, opacity 2000ms ease-in-out;
      background-size: contain;            
      background-repeat: no-repeat;                              
    }

    .dot-container {
      right: 20px;
    }

    .logoflower {
      display: none;
    }

      .flower-2 { width: 7vw; height: 7vw; top: 70vh; left: 5vw; }
      .flower-3 { width: 8vw; height: 8vw; top: 55vh; left: 17vw; }
      .flower-4 { width: 15vw; height: 15vw; top: 46vh; left: 42.5vw; }
      .flower-5 { width: 12vw; height: 12vw; top: 55vh; left: 80vw; }
      .flower-7 { width: 10vw; height: 10vw; top: 10vh; left: 85vw; }
      .flower-11 { width: 10vw; height: 10vw; top: 62vh; left: 30vw; }
      .flower-12 { width: 7vw; height: 7vw; top: 20vh; left: 70vw; }
      .flower-14 { width: 10vw; height: 10vw; top: 50vh; left: 63vw; }
  }
}

@media (min-aspect-ratio: 3) {
  .title { 
    font-size: 12vw; 
    line-height: 9vw; 
    width: 66%;
    height: 100%;
    display: flex;
    justify-content: center; 
    align-items: center; 
    text-align: left;
  }

  .flowerbox {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .flower, .centerflower {
    position: relative;
    transition: transform 500ms ease-in-out, opacity 2000ms ease-in-out;
    background-size: contain;            
    background-repeat: no-repeat;                              
  }

  .dot-container {
    right: 20px;
  }

  .logoflower {
    display: none;
  }

    .flower-4 { width: 66vh; height: 66vh; }
}